
@font-face {
    font-family: 'LatoBlackItalic';
    src: url('Lato-BlaIta-webfont.eot');
    src: url('Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BlaIta-webfont.woff') format('woff'),
         url('Lato-BlaIta-webfont.ttf') format('truetype'),
         url('Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBlack';
    src: url('Lato-Bla-webfont.eot');
    src: url('Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bla-webfont.woff') format('woff'),
         url('Lato-Bla-webfont.ttf') format('truetype'),
         url('Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('Lato-BolIta-webfont.eot');
    src: url('Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BolIta-webfont.woff') format('woff'),
         url('Lato-BolIta-webfont.ttf') format('truetype'),
         url('Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('Lato-Bol-webfont.eot');
    src: url('Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bol-webfont.woff') format('woff'),
         url('Lato-Bol-webfont.ttf') format('truetype'),
         url('Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoItalic';
    src: url('Lato-RegIta-webfont.eot');
    src: url('Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-RegIta-webfont.woff') format('woff'),
         url('Lato-RegIta-webfont.ttf') format('truetype'),
         url('Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoRegular';
    src: url('Lato-Reg-webfont.eot');
    src: url('Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Reg-webfont.woff') format('woff'),
         url('Lato-Reg-webfont.ttf') format('truetype'),
         url('Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoLightItalic';
    src: url('Lato-LigIta-webfont.eot');
    src: url('Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-LigIta-webfont.woff') format('woff'),
         url('Lato-LigIta-webfont.ttf') format('truetype'),
         url('Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoLight';
    src: url('Lato-Lig-webfont.eot');
    src: url('Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Lig-webfont.woff') format('woff'),
         url('Lato-Lig-webfont.ttf') format('truetype'),
         url('Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('Lato-HaiIta-webfont.eot');
    src: url('Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-HaiIta-webfont.woff') format('woff'),
         url('Lato-HaiIta-webfont.ttf') format('truetype'),
         url('Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoHairline';
    src: url('Lato-Hai-webfont.eot');
    src: url('Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Hai-webfont.woff') format('woff'),
         url('Lato-Hai-webfont.ttf') format('truetype'),
         url('Lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-lightitalic-webfont.eot');
    src: url('proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-lightitalic-webfont.woff') format('woff'),
         url('proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('proximanova-lightitalic-webfont.svg#ProximaNovaLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-reg-webfont.eot');
    src: url('proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-reg-webfont.woff') format('woff'),
         url('proximanova-reg-webfont.ttf') format('truetype'),
         url('proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-regitalic-webfont.eot');
    src: url('proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regitalic-webfont.woff') format('woff'),
         url('proximanova-regitalic-webfont.ttf') format('truetype'),
         url('proximanova-regitalic-webfont.svg#ProximaNovaRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-sbold-webfont.eot');
    src: url('proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-sbold-webfont.woff') format('woff'),
         url('proximanova-sbold-webfont.ttf') format('truetype'),
         url('proximanova-sbold-webfont.svg#ProximaNovaSemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-sbolditalic-webfont.eot');
    src: url('proximanova-sbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-sbolditalic-webfont.woff') format('woff'),
         url('proximanova-sbolditalic-webfont.ttf') format('truetype'),
         url('proximanova-sbolditalic-webfont.svg#ProximaNovaSemiboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proxima_nova_black-webfont.eot');
    src: url('proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_black-webfont.woff') format('woff'),
         url('proxima_nova_black-webfont.ttf') format('truetype'),
         url('proxima_nova_black-webfont.svg#ProximaNovaBlack') format('svg');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('proxima_nova_extrabold-webfont.eot');
    src: url('proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_nova_extrabold-webfont.woff') format('woff'),
         url('proxima_nova_extrabold-webfont.ttf') format('truetype'),
         url('proxima_nova_extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

