

// P4M Universal Styles
@import 'variables.scss';




// Typography

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-BlaIta-webfont.eot');
    src: url('lato-font/Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-BlaIta-webfont.woff') format('woff'),
         url('lato-font/Lato-BlaIta-webfont.ttf') format('truetype'),
         url('lato-font/Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-Bla-webfont.eot');
    src: url('lato-font/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-Bla-webfont.woff') format('woff'),
         url('lato-font/Lato-Bla-webfont.ttf') format('truetype'),
         url('lato-font/Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-BolIta-webfont.eot');
    src: url('lato-font/Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-BolIta-webfont.woff') format('woff'),
         url('lato-font/Lato-BolIta-webfont.ttf') format('truetype'),
         url('lato-font/Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-Bol-webfont.eot');
    src: url('lato-font/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-Bol-webfont.woff') format('woff'),
         url('lato-font/Lato-Bol-webfont.ttf') format('truetype'),
         url('lato-font/Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-RegIta-webfont.eot');
    src: url('lato-font/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-RegIta-webfont.woff') format('woff'),
         url('lato-font/Lato-RegIta-webfont.ttf') format('truetype'),
         url('lato-font/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-Reg-webfont.eot');
    src: url('lato-font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-Reg-webfont.woff') format('woff'),
         url('lato-font/Lato-Reg-webfont.ttf') format('truetype'),
         url('lato-font/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-LigIta-webfont.eot');
    src: url('lato-font/Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-LigIta-webfont.woff') format('woff'),
         url('lato-font/Lato-LigIta-webfont.ttf') format('truetype'),
         url('lato-font/Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-Lig-webfont.eot');
    src: url('lato-font/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-Lig-webfont.woff') format('woff'),
         url('lato-font/Lato-Lig-webfont.ttf') format('truetype'),
         url('lato-font/Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-HaiIta-webfont.eot');
    src: url('lato-font/Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-HaiIta-webfont.woff') format('woff'),
         url('lato-font/Lato-HaiIta-webfont.ttf') format('truetype'),
         url('lato-font/Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-font/Lato-Hai-webfont.eot');
    src: url('lato-font/Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-font/Lato-Hai-webfont.woff') format('woff'),
         url('lato-font/Lato-Hai-webfont.ttf') format('truetype'),
         url('lato-font/Lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: 100;
    font-style: normal;

}
[class*="p4m-"] * {
	font-family: $p4m-font;
	font-size: 16px;
}
[class="p4m-"] h1, [class="p4m-"] h2, [class="p4m-"] h3, [class="p4m-"] h4, [class="p4m-"] h5, [class="p4m-"] h6 {
	font-weight: 600 !important;
	text-rendering: optimizeLegibility;
	letter-spacing: -.02em;
}
h1 {
	font-size: 24px;
	margin: .5em 0
}
h2 {
	font-size: 21px;
	margin: .5em 0
}
h3 {
	font-size: 18px;
	margin: .5em 0
}
h4 {
	font-size: 16px;
	margin: .5em 0
}
h5 {
	font-size: 14px;
	margin: .5em 0
}
h6 {
	font-size: 12px;
	margin: .5em 0
}









// P4M Universal Styles

// Buttons
.p4m-button {
    margin: 10px;
    padding: 10px;
    background: transparent;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    border: solid 1px #fff;
    cursor: pointer; 
    min-width: 100px;
    font-weight: bold;
	.p4m-button-active {
	    background-color: #fff;
	    color: #2aa54f;
	    &:hover {
		    background-color: #fff;
		    color: #2aa54f;
		    transition-duration: 0.5s;
		}
		&:active {
		    background-color: rgba(255, 255, 255, 0.8);
		    color: #2aa54f;
		}
		&.no {
		    background-color: rgba(144, 68, 68, 1.0);
		}
		&.neutral {
		    background-color: rgba(144, 144, 144, 1.0);
		}
	}
	&.disabled {
	    background-color: rgba(100, 100, 100, 1.0);
	}
}


.p4m-label { color: darkgreen }
// used in the p4m-register widget 
.corners-5px {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}
.corners-24px {
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	-khtml-border-radius:24px;
	border-radius:24px;
}
.corners-top-5px {
    -moz-border-top-left-radius:6px;
    -webkit-border-top-left-radius:6px;
    -khtml-border-top-left-radius:6px;
    border-top-left-radius:6px;
    -moz-border-top-right-radius:6px;
    -webkit-border-top-right-radius:6px;
    -khtml-border-top-right-radius:6px;
    border-top-right-radius:6px;
    color:#2aa54f;
    background-color:#fff;
    padding-left:25px;
    padding-top:20px;
    line-height:20px
}
.corners-bottom-5px{
    -moz-border-bottom-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -khtml-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
    -moz-border-bottom-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -khtml-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
    background-color:#fff;
    padding-left:25px;
    padding-top:20px;
}

