.p4m-green {
  background-color: #2aa54f !important; }

.pale-p4m-green {
  background-color: #4bad68 !important; }

.translucent-p4m-green {
  background-color: rgba(63, 144, 87, 0.25) !important; }

.translucent-p4m-green-light {
  background-color: rgba(63, 144, 87, 0.1) !important; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-BlaIta-webfont.eot");
  src: url("lato-font/Lato-BlaIta-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-BlaIta-webfont.woff") format("woff"), url("lato-font/Lato-BlaIta-webfont.ttf") format("truetype"), url("lato-font/Lato-BlaIta-webfont.svg#LatoBlackItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-Bla-webfont.eot");
  src: url("lato-font/Lato-Bla-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-Bla-webfont.woff") format("woff"), url("lato-font/Lato-Bla-webfont.ttf") format("truetype"), url("lato-font/Lato-Bla-webfont.svg#LatoBlack") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-BolIta-webfont.eot");
  src: url("lato-font/Lato-BolIta-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-BolIta-webfont.woff") format("woff"), url("lato-font/Lato-BolIta-webfont.ttf") format("truetype"), url("lato-font/Lato-BolIta-webfont.svg#LatoBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-Bol-webfont.eot");
  src: url("lato-font/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-Bol-webfont.woff") format("woff"), url("lato-font/Lato-Bol-webfont.ttf") format("truetype"), url("lato-font/Lato-Bol-webfont.svg#LatoBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-RegIta-webfont.eot");
  src: url("lato-font/Lato-RegIta-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-RegIta-webfont.woff") format("woff"), url("lato-font/Lato-RegIta-webfont.ttf") format("truetype"), url("lato-font/Lato-RegIta-webfont.svg#LatoItalic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-Reg-webfont.eot");
  src: url("lato-font/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-Reg-webfont.woff") format("woff"), url("lato-font/Lato-Reg-webfont.ttf") format("truetype"), url("lato-font/Lato-Reg-webfont.svg#LatoRegular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-LigIta-webfont.eot");
  src: url("lato-font/Lato-LigIta-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-LigIta-webfont.woff") format("woff"), url("lato-font/Lato-LigIta-webfont.ttf") format("truetype"), url("lato-font/Lato-LigIta-webfont.svg#LatoLightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-Lig-webfont.eot");
  src: url("lato-font/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-Lig-webfont.woff") format("woff"), url("lato-font/Lato-Lig-webfont.ttf") format("truetype"), url("lato-font/Lato-Lig-webfont.svg#LatoLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-HaiIta-webfont.eot");
  src: url("lato-font/Lato-HaiIta-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-HaiIta-webfont.woff") format("woff"), url("lato-font/Lato-HaiIta-webfont.ttf") format("truetype"), url("lato-font/Lato-HaiIta-webfont.svg#LatoHairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("lato-font/Lato-Hai-webfont.eot");
  src: url("lato-font/Lato-Hai-webfont.eot?#iefix") format("embedded-opentype"), url("lato-font/Lato-Hai-webfont.woff") format("woff"), url("lato-font/Lato-Hai-webfont.ttf") format("truetype"), url("lato-font/Lato-Hai-webfont.svg#LatoHairline") format("svg");
  font-weight: 100;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600 !important;
  text-rendering: optimizeLegibility;
  letter-spacing: -.02em; }

h1 {
  font-size: 24px;
  margin: .5em 0; }

h2 {
  font-size: 21px;
  margin: .5em 0; }

h3 {
  font-size: 18px;
  margin: .5em 0; }

h4 {
  font-size: 16px;
  margin: .5em 0; }

h5 {
  font-size: 14px;
  margin: .5em 0; }

h6 {
  font-size: 12px;
  margin: .5em 0; }
